body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ac9e4;
}

header {
    background: blue;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#new-post {
    margin-top: 20px;
}

#new-post input, #new-post textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    display: block;
}

#new-post button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


